.playButton, .pauseButton, .stopButton, .prevButton, .nextButton {
	width: 60px;
	height: 40px;
	background-color: #000000;
	color: #4bff19;
}
.button-controlls {
	display: inline-block;
	margin: 20px;
}
p {
	font-size: 20px;
	width: 200px;
	text-align: right;
	margin: 30px;
	padding: 10px;
}
/*.pauseButton {
	width: 60px;
	height: 40px;
	background-color: #000000;
	color: #4bff19;
}
.stopButton {
	width: 60px;
	height: 40px;
	background-color: #000000;
	color: #4bff19;
}
#mduration {
	width: 60px;
	height: 40px;
	background-color: #000000;
	color: #4bff19;
}
.btn, .btn-default {
	display: inline;
	float: left;
}*/